<!DOCTYPE html>
<html>
<head>
  <title>Untrippd</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag 'favicon-16x16.png' %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyASgGeTeG7cPRiNPghKRfTlP8Vy7fZpsx8" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- <footer class="footer group">

   <small class="footer-left">
     Developed by Greg Michnikov. Inspired by Untappd.
   </small>

   <ul class="footer-links group">
     <li><a href="https://github.com/gmichnikov/untrippd">github/gmichnikov</a></li>
     <li><a href="https://www.linkedin.com/in/gregmichnikov">linkedin/gregmichnikov</a></li>
     <li><a href="https://untappd.com/">Untappd</a></li>
   </ul>

 </footer> -->


</body>
</html>
